body {
  font-family: verdana, sans-serif;
  font-size: 14px;
}

#header {
  border-bottom: 1px solid #ccc;
  margin-top: 25px;
  margin-bottom: 30px;
}

#content {
}

#branding a {
  float: left;
  margin-bottom: 16px;
  margin-top: 10px;
  font-size: 42px;
  color: #AAA;
}

.post p, p, li, span, a {
  color: #555;
  font-size: 14px;
}

.post, p {
  line-height: 22px;
}

.post {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DDD;
}

#content h1, h2, h3 {
  color: #666633;
  clear: both;
  font-weight: 500;
}

.post h2, h3{
  margin: 30px 0 -8px 0;
}

a {
  color: #297ACC;
  text-decoration: none;
}

a:hover {
  color: #669999;
}


#container {
  max-width: 60%;
  margin: 0 auto;
  min-width: 800px;
}

#footer, #footer a, #footer p {
  color: #999;
  font-size: 12px;
  font-style: italic;
  font-family: inherit;
  margin: 0;
  line-height: 1.5em;
}

#footer > div {
  float: right;
  text-align: right;
  margin: 10px 5px 10px;
}

#nav {
  float: right;
  margin-bottom: 16px;
}

#nav li {
  display: inline;
  padding: 0;
}

#nav a {
  font-family: verdana, sans-serif;
  font-size: 20px;
  display: block;
  float: left;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #050;
}

#nav a:hover {
  background-color: #eee;
  color: black;
}

.post-item {
  margin-bottom: 16px;
  clear: both;
}

.post-date {
  color: #aaa;
  font-size: 12px;
}

.post-title-link {
  margin-right: 12px;
}

.post h1 {
  margin-bottom:5px;
}

img {
  width: 100%;
}

.post-meta {
  margin-bottom: 20px;
}

.post-end {
  border:1px solid grey;
  margin-top:10px;
  margin-bottom:10px;
}

pre {
  padding: 5px 0 5px 25px;
}

pre span {
  font-family: 'Verdana', sans-serif;
  font-weight: 300 !important;
}

@media screen and (max-width: 824px) {
  #nav, #header, #branding a, #footer, #nav a {
    clear: both;
    text-align: center;
    width: 100%;
  }

  #footer > div {
    text-align: center;
  }

  #header {
    margin-bottom: 5px;
  }

  #nav {
    margin-bottom: 0px;
  }

  #branding {
    display: block;
    clear: both;
  }

  #branding a {
    font-size: 32px;
  }

  .post-date {
    color: #aaa;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }

  #container {
    min-width: 90%;
    margin: 0 auto;
  }

  #nav ul {
    margin: 0;
    padding: 5px;
  }
}
